.pikachoose{width:680px;position:relative; height:320px; border:#CCC 1px solid; z-index:1;}
.no-carousel{top:15px;right:0;position:absolute;}
.pika-image {position: absolute; top:0; left:0; height: 306px; width: 564px; background: #fafafa; border: 1px solid #e5e5e5; margin:5px;}
	/*position image holders */
	.pika-image .animation, .pika-image .main-image {position: absolute; top: 0; left: 0;}
	.pika-image .animation {display: none;z-index:2;}
	.pika-image img {border:0;}

.pika-image .caption {position: absolute; background: url(../images/slide/75-black.png);  border: 1px solid #141414; font-size: 11px; color: #fafafa; padding: 10px; text-align: right; bottom: 10px; right: 10px;}
	.pika-image .caption p {padding: 0; margin: 0; line-height: 14px;}

.pika-imgnav a {position: absolute; text-indent: -5000px; display: block;z-index:3;}
	.pika-imgnav a.previous {background: url(../images/slide/prev.png) no-repeat left 50%; height: 340px; width: 50px; top: 10px; left: 10px;cursor:pointer;}
	.pika-imgnav a.next {background: url(../images/slide/next.png) no-repeat right 50%; height: 340px; width: 50px; top: 10px; right: 10px;cursor:pointer;}
	/*.pika-imgnav a.play {background: url(../images/slide/play.png) no-repeat 50% 50%; height: 100px; width: 40px;top:0;left:50%;display: none;cursor:pointer;}
	.pika-imgnav a.pause {background: url(../images/slide/pause.png) no-repeat 50% 50%; height: 100px; width: 40px;top:0;left:50%;display:none;cursor:pointer;}*/

.pika-textnav {overflow: hidden; margin: 10px 0 0 0;}
.pika-textnav a {font-size: 12px; text-decoration: none; font-family:  helvetica, arial, sans-serif; color: #333; padding: 4px;}

	.pika-textnav a.previous {background:url(../images/slide/back.jpg) no-repeat top left; width:92px; height:3px; position:absolute; right:-105px; top:0; cursor:pointer;}
	.pika-textnav a.next {background:url(../images/slide/bottom.png) no-repeat bottom left; width:92px; height:3px; position:absolute; right:-105px; bottom:0; cursor:pointer;}
	
.pika-thumbs {margin: 10px 0 0 0; padding: 0; overflow: hidden; }
	.pika-thumbs li {float: left; list-style-type: none; width: 92px; padding: 1px; margin: 0 2px; background: #fafafa; border: 1px solid #e5e5e5; cursor: pointer;}
		.pika-thumbs li:last {margin: 0;}
		.pika-thumbs li .clip {position:relative;width: 90px; height: 90px; text-align: center; vertical-align: center; overflow: hidden;}
ul.no-carousel{width:200px;}

/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika{right:20px; position:absolute; top:20px;}
.jcarousel-skin-pika .jcarousel-container-vertical { width: 85px; height: 270px;}
.jcarousel-skin-pika .jcarousel-clip-vertical { width:  90px; height: 270px;}
.jcarousel-skin-pika .jcarousel-item-vertical { margin-bottom: 5px;}
.jcarousel-skin-pika .jcarousel-item-placeholder { background: #fff; color: #000;}